<header id="header-part">
    <div class="header-top d-none d-lg-block">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="header-contact text-lg-left text-center">
                        <ul>
                            <li><img src="/images/all-icon/map.png" alt="icon"><span>মমিনপাড়া, তেতুলিয়া</span></li>
                            <li><img src="/images/all-icon/email.png" alt="icon"><span>tetuliamodel8625@gmail.com</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="header-opening-time text-lg-right text-center">
                        <p>শনি-বুধ : সকাল ১০টা হতে বিকাল ৪টা | বৃহস্পতি : সকাল ১০টা হতে দুপুর ১টা</p>
                    </div>
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </div> <!-- header top -->

    <div class="navigation">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-md-10 col-sm-9 col-8">
                    <nav class="navbar navbar-expand-lg">
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item">
                                    <a class="<%= path === '/'? 'active' : '' %>" href="/">হোম</a>
                                </li>
                                <li class="nav-item">
                                    <a class="<%= path === '/about'? 'active' : '' %>" href="/about">আমাদের
                                        সম্পর্কে</a>
                                </li>
                                <li class="nav-item">
                                    <a class="<%= path === '/teachers'? 'active' : '' %>"
                                        href="/teachers">শিক্ষকমণ্ডলী</a>
                                </li>
                                <li class="nav-item">
                                    <a class="<%= path === '/notices'? 'active' : '' %>" href="/notices">নোটিশ</a>
                                </li>
                                <li class="nav-item">
                                    <a class="<%= path === '/contact'? 'active' : '' %>" href="/contact">যোগাযোগ</a>
                                </li>
                            </ul>
                        </div>
                    </nav> <!-- nav -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </div>

</header>